.container-main {
    -fx-border-color: #406c07;
    -fx-background-color: #f3faea;
    -fx-border-width: 2;
    -fx-border-radius: 0 0 5 5;
    -fx-background-radius: 0 0 10 10;
}
.pane-top
{
    -fx-background-color: linear-gradient(to bottom, #beee7b, #e2f1c5);
    -fx-border-color: #c9c9cc;
    -fx-border-width: 0 0 0.4 0;
}
.image_logo{
    -fx-scale-x: 5.5;
    -fx-scale-y: 5.5;
}
#add {
    -fx-padding: 5 10 10 10;
    -fx-background-insets: 0, 0 0 2 0, 0 0 3 0, 0 0 4 0;
    -fx-border-radius: 20;
    -fx-border-width: 2;
    -fx-background-radius: 20;
    -fx-pref-width: 90;
    -fx-pref-height: 50;
    -fx-text-fill: #67A10AFF;
    -fx-font-family: "Segoe UI black";
    -fx-background-color: transparent;
    -fx-border-color: #74b60c;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}
#add:hover {
    -fx-border-width: 0;
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100% , #78b713 0%, #67a10a 100%),
    #6faf0a,
    #7cc40c,
    linear-gradient(to right, #adea4e, #7abe0d);
    -fx-text-fill: #ffffff;
    -fx-cursor: hand;
}

#add:pressed
{
    --fx-padding: 6 10 9 10 ;
    -fx-background-insets: 1 0 0 0, 1 0 1 0 , 1 0 2 0, 1 0 3 0;
    -fx-effect: dropshadow(gaussian,rgba(0,0,0,0),4,0,0,1);
}
#delete {
    -fx-padding: 5 10 10 10;
    -fx-background-insets: 0, 0 0 2 0, 0 0 3 0, 0 0 4 0;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-border-width: 2;
    -fx-pref-width: 90;
    -fx-pref-height: 50;
    -fx-text-fill: #ff0000;
    -fx-font-family: "Segoe UI black";
    -fx-background-color: transparent;
    -fx-border-color: #ff0000;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}
#delete:hover {
    -fx-border-width: 0;
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100% , #ab0202 0%, #a10303 100%),
    #da0909,
    #f62121,
    linear-gradient(to right, #ff7979, #ff0000);
    -fx-text-fill: #ffffff;
    -fx-cursor: hand;
}

#delete:pressed
{
    --fx-padding: 6 10 9 10 ;
    -fx-background-insets: 1 0 0 0, 1 0 1 0 , 1 0 2 0, 1 0 3 0;
    -fx-effect: dropshadow(gaussian,rgba(0,0,0,0),4,0,0,1);
}
.lbl_tiltle{
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 25px;
}
.lbl {
    -fx-font-size: 20px ;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: red ;
}

.input-field
{
    -fx-border-width: 1 1 1 1;
    -fx-border-radius: 5;
    -fx-pref-height: 35;
    -fx-pref-width: 220;
    -fx-background-color: #ffffff;
    -fx-border-color: #9E9DA3;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 16px;
}
.input-field:hover
{
    -fx-border-width: 1 1 1 1;
    -fx-border-radius: 5;
    -fx-border-color: #8BC634;

}
.input-field:focused
{
    -fx-border-width: 1 1 1 1;
    -fx-border-radius: 5;
    -fx-border-color: #8BC634;
    -fx-wrap-text: true;
}

.combo-box
{
    -fx-border-width: 0.5px;
    -fx-background-radius: 0px 20px 20px 0px;
    -fx-border-radius: 0px 20px 20px 0px;
    -fx-border-color: #416c0d;
    fx-font-weight: 700;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 20px;

}


.combo-box:hover {
    -fx-border-color: green;
}
.combo-box .arrow-button{
}
.combo-box .arrow-button .arrow{
    -fx-background-color: green;

}

.combo-box-base:hover {
    -fx-background-color: #CAEF95;
    -fx-scale-x: 0.8;
    -fx-scale-y: 0.8;
    -fx-cursor: hand;
}
.combo-box-base:focused {
    -fx-border-width: 1;
}
.combo-box-base {
    -fx-background-color: linear-gradient(to bottom,#ffffff,#C1E293);
    -fx-border-width: 0.4;
    -fx-border-color: #4a7612;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-scale-x: 0.8;
    -fx-scale-y: 0.8;
}

.combo-box-base:focused
{
    -fx-text-fill: #007B24;
}

.combo-box .list-view {  /* phần bên trong cái thả xuống*/
    -fx-border-width: 0.5;
    -fx-border-color: #ACACAC;
    -fx-background-color: #EBFFD1;
    -fx-padding: 0px;
    -fx-font-size: 10px;
    -fx-font-weight: 700;
    -fx-pref-width: 135;
}
.combo-box .list-view .list-cell {

    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 15px;
    -fx-text-fill: #3d3c3c;
    -fx-background-color: #ffffff;
}
.combo-box .list-view .list-cell:hover {

    -fx-background-color: #6fa62f;
    -fx-text-fill: #ffffff;
}
.combo-box .list-view .list-cell:pressed {

    -fx-background-color: #6fa62f;
    -fx-text-fill: #ffffff;
}
/*close*/
.image
{
    -fx-opacity: 100;
}
.image_hover
{
    -fx-opacity: 0;
}
.pane_close
{
    -fx-background-color: transparent;
}
.pane_close:hover
{
    -fx-background-color: #FF0000;
}

.pane_close:hover .image_hover
{
    -fx-opacity: 100;
}
.pane_close:hover .image
{
    -fx-opacity: 0;
}
.combo-box:disabled
{
    -fx-opacity: 0.8;
    -fx-background-color: linear-gradient(to bottom,#ffffff, #efffd5);
    -fx-border-width: 1;
    -fx-border-color: #575757;
    -fx-text-fill: #424242;
}
.date-picker:disabled {
    -fx-opacity: 0.8;
    -fx-background-color: linear-gradient(to bottom,#ffffff, #efffd5);
    -fx-border-width: 1;
    -fx-border-color: #575757;
    -fx-text-fill: #424242;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}