.login_container {
    -fx-background-color: #E9E9E9;
}

.login_container Text{
    -fx-background-color: #E9E9E9;
    -fx-font-size: 16;
}
.Title {
    -fx-font-size: 35;

}
.lbl{
    -fx-text-fill: #0488da;
    -fx-font-size: 16px;
    -fx-font-family: "Segoe UI Semibold";
}
#lbl_normal:hover{
    -fx-font-size: 17px;
    -fx-text-fill: #4eb4f5;
}
#lbl_normal:pressed{
    -fx-font-size: 16px;
}
.login_logo_container
{
    -fx-background-color: linear-gradient(to bottom,#4B7813,#8BC634);
    -fx-alignment: center;
}
.login_logo_container Text
{
    -fx-font-size: 20;
    -fx-fill: #FFFFFF;
}
/*Button*/

.login_container .button
{
    -fx-padding: 8 15 15 15 ;
    -fx-background-insets: 0, 0 0 5 0 , 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
    radial-gradient(center 50% 50%, radius 100%, #8bc634, #7ac901);
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-text-fill: white;
}

.login_container .button:hover
{
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100% , #67a910 0%, #578a17 100%),
    #72b40f,
    #7ac00e,
    radial-gradient(center 50% 50%, radius 100%, #8bc634, #8de800);
}

.login_container .button:pressed
{
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0 ;
}

/*Input Text*/
.inputText
{
    -fx-background-color:#FFFFFF;
    -fx-text-fill: #C1C0C7 ;
    -fx-border-color: #9E9DA3;
    -fx-background-radius: 5;
    -fx-font-family: "Segoe UI Semibold";
    -fx-border-radius:5;
    -fx-padding: 5 5 5 5;
}
.inputText:hover
{
    -fx-background-color:#FFFFFF;
    -fx-text-fill: #C1C0C7 ;
    -fx-border-color: #8BC634;
    -fx-font-family: "Segoe UI Semibold";
    -fx-border-radius:5;
}
.inputText .text-field
{
    -fx-border-width: 0 0 0 0;
    -fx-font-size: 16;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #000000;
}
.password-field
{
    -fx-background-color:#FFFFFF;
}
/*Error*/
.error_lbl
{
    -fx-fill: #FF0000;
}

/*Close*/
.image
{
    -fx-opacity: 100;
}
.image_hover
{
    -fx-opacity: 0;
}
.pane_close
{
    -fx-background-color: transparent;
}
.pane_close:hover
{
    -fx-background-color: #FF0000;
}

.pane_close:hover .image_hover
{
    -fx-opacity: 100;
}
.pane_close:hover .image
{
    -fx-opacity: 0;
}

.pane_progress {
    -fx-background-color: rgb(170, 170, 170,0.5);
}
#otp
{
    -fx-background-color:#FFFFFF;
    -fx-text-fill: #383838;
    -fx-border-color: #9E9DA3;
    -fx-background-radius: 8;
    -fx-font-family: "Segoe UI Semibold";
    -fx-border-radius: 8;
    -fx-font-size: 14;
}
