.container-overall
{
    -fx-background-color: #f3faea;
}
.container-overall .anchor-pane
{
    -fx-background-color: #f7fff1;
}
.container-overall .button:pressed
{
    --fx-padding: 6 10 9 10 ;
    -fx-background-insets: 1 0 0 0, 1 0 1 0 , 1 0 2 0, 1 0 3 0;
    -fx-effect: dropshadow(gaussian,rgba(0,0,0,0),4,0,0,1);
}

#add {
    -fx-padding: 5 10 10 10;
    -fx-background-insets: 0, 0 0 2 0, 0 0 3 0, 0 0 4 0;
    -fx-border-radius: 20;
    -fx-border-width: 2;
    -fx-background-radius: 20;
    -fx-pref-width: 150;
    -fx-pref-height: 40;
    -fx-text-fill: #67A10AFF;
    -fx-font-family: "Segoe UI black";
    -fx-background-color: transparent;
    -fx-border-color: #74b60c;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}
#add:hover {
    -fx-border-width: 0;
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100% , #78b713 0%, #67a10a 100%),
    #6faf0a,
    #7cc40c,
    linear-gradient(to right, #adea4e, #7abe0d);
    -fx-text-fill: #ffffff;
    -fx-cursor: hand;
}

#add:pressed
{
    --fx-padding: 6 10 9 10 ;
    -fx-background-insets: 1 0 0 0, 1 0 1 0 , 1 0 2 0, 1 0 3 0;
    -fx-effect: dropshadow(gaussian,rgba(0,0,0,0),4,0,0,1);
}

.date-picker  *{
    -fx-primary-color: #66a611;
    -fx-secondary-color: #497309;
    -fx-light-grey-color: #d1d1d1;
    /*Set focus color*/
    -fx-focus-color: -fx-secondary-color;
    /*Increase font size*/
    -fx-font-size: 1.05em;
}
.date-picker {
    -fx-font-size: 1.2em;
}

/*-----------------------------------------
Customize the right button background color
-------------------------------------------*/
.date-picker .arrow-button {
    -fx-background-color: -fx-primary-color;
    -fx-background-radius: 0;
}

.date-picker .arrow-button:hover {
    -fx-background-color: -fx-secondary-color;
}

.date-picker .arrow-button .arrow {
    -fx-background-color: white;
}

/*-----------------------------------------
Customize popup content
-------------------------------------------*/
.date-picker .cell {
    -fx-background-color: white;
}

.date-picker .cell:hover {
    -fx-background-color: -fx-primary-color;
}

.date-picker .cell:focused {
    -fx-background-color: -fx-primary-color;
}

/*-----------------------------------------
Customize the selected cell
-------------------------------------------*/
.date-picker .selected {
    -fx-background-color: -fx-primary-color;
    -fx-text-fill: white;
}

.date-picker .selected:focused {
    -fx-background-color: -fx-primary-color;
    -fx-text-fill: white;
}

.date-picker-popup {
    -fx-border-color: transparent;
}

.date-picker-popup .month-year-pane {
    -fx-background-color: -fx-primary-color;
}

.date-picker-popup .month-year-pane .label {
    -fx-text-fill: white;
}

.date-picker-popup .week-number-cell {
    -fx-text-fill: -fx-secondary-color;
}

/*-----------------------------------------
Customize left and right arrow
-------------------------------------------*/
.date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow {
    -fx-background-color: #c2d70e;
}

/*comboBox*/
.menu-button .text-field
{
    -fx-background-radius: 20px;
}
.menu-button
{
    -fx-border-width: 1px;
    -fx-background-radius: 0px 20px 20px 0px;
    -fx-border-radius: 0px 20px 20px 0px;
    -fx-border-color: #adda75;
    fx-font-weight: 700;
    -fx-font-size: 13px;
    -fx-font-family: "Segoe UI Semibold";
    -fx-background-color: linear-gradient(to bottom, #e1ffb4, #ade365);
}
.menu-button:hover {
    -fx-border-color: #416c0d;
}
.menu-button .arrow-button{
}
.menu-button .arrow-button .arrow{
    -fx-background-color: green;
}
.menu-button .menu-item {

    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 14px;
    -fx-text-fill: #5A8F15;
    -fx-background-color: #ffffff;
}
.menu-button .menu-item:hover {

    -fx-background-color: #6fa62f;
    -fx-text-fill: #ffffff;
}
.menu-button .menu-item:pressed {

    -fx-background-color: #6fa62f;
    -fx-text-fill: #ffffff;
}
.menu-button .menu-item:focused {

    -fx-background-color: #6fa62f;
    -fx-text-fill: #ffffff;
}

.table-view {
    -fx-text-fill: #ffffff;
    -fx-alignment: center ;
}
.table-view .table-column
{
    -fx-text-fill: #000000;
    -fx-font-size: 14px;
}
.table-view .column-header-background .label
{
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-background-color: linear-gradient(to bottom , #5A8F15, #a6d36a);
    -fx-background-radius: 1px;
}
.table-view  .table-row-cell
{
    -fx-alignment: center;
    -fx-font-size: 12.5px;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-weight: bold;

}
.table-view  .table-row-cell:hover
{
    -fx-font-size: 12.5px;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-weight: bold;
    -fx-background-color:linear-gradient(to right, #e2eed5, #dcefe2);
}
.table-view  .table-row-cell:focused
{
    -fx-font-size: 13px;
    -fx-font-family: "Segoe UI ";
    -fx-font-weight: bold;
    -fx-background-color:linear-gradient(to right, #bae088, #bce3ca);
    -fx-border-color: #6b9139;
    -fx-border-width: 1 0 1 0;
    -fx-text-fill: #ffffff;
    -fx-focus-color: transparent;
}
#tableview-main .column-header-background .label
{
    -fx-font-size: 15px;
}
#tableview-main
{
    -fx-border-color: #416c0d;

}
/*tabpane*/
.tab-pane
{
    -fx-background-color: #e7f8d4;
    -fx-border-color: #c9c9cc;
    -fx-border-width: 1;
}
.tab-pane .tab .tab-label
{
    -fx-background-color: transparent;
    -fx-alignment: center;
}

.tab-pane .tab{
    -fx-background-color: #f6ffec;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 10px;
}
.tab-pane .tab:selected
{
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-border-width:3 0 0 0;
    -fx-border-color: #5A8F15;
    -fx-background-color: linear-gradient(to top, #ecfade,#cfefac);
}
.tab:selected .focus-indicator
{
    -fx-focus-color: transparent;
    -fx-border-color: transparent;
}
.tab:focused
{
    -fx-focus-color: transparent;
}
.tab-pane .tab-header-background
{
    -fx-background-color: transparent;
}


/**titlepane*/
.titled-pane {
    -fx-border-color: #578c16;
    -fx-border-width: 0.4;
    -fx-font-size: 16px;
}
.titled-pane .title
{
    -fx-background-color: linear-gradient(to top,#C1E293,#ffffff);
    -fx-font-family: "Segoe UI Semibold";
}
/*inputfield*/
.input-field
{
    -fx-border-width: 1 1 1 1;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-border-color: #9E9DA3;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 15px;
}

.input-field:hover
{
    -fx-border-color: #8BC634;
    -fx-font-family: "Segoe UI Semibold";
}
.input-field:focused
{
    -fx-border-width: 1 1 1 1;
    -fx-border-radius: 5;
    -fx-border-color: #8BC634;
    -fx-wrap-text: true;
}
/*search-input*/
#search-icon
{
    -fx-scale-x: 0.8;
    -fx-scale-y: 0.8;
}

.input-field .search-input
{
    -fx-border-width: 0;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-background-color: #ffffff;
    -fx-border-color: #9E9DA3;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 15px;
}
 .input-field
{
    -fx-border-width: 1 1 1 1;
    -fx-border-radius: 5;
    -fx-background-color: #ffffff;
    -fx-border-color: #9E9DA3;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 15px;
}
.lbl {
    -fx-font-size: 15px;
    -fx-font-family: "Segoe UI Semibold";
}
.lbl_panel {
    -fx-font-size: 18px;
    -fx-font-family: "Segoe UI Semibold";
}
.pnl {
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
}
#left {
    -fx-background-color: linear-gradient(to right,#21617C,#2F8D95);
    -fx-effect: dropshadow(three-pass-box, rgb(5, 47, 66), 5, 0.2, 0, 2);
}
#center {
    -fx-background-color: linear-gradient(to right,#3FEDE5,#C2FDB3);
    -fx-effect: dropshadow(three-pass-box, rgb(5, 47, 66), 5, 0.2, 0, 2);
}
#center .text {
    -fx-text-fill: #000000;
}
#right {
    -fx-background-color: linear-gradient(to right, #9668f6,#D099F4);
    -fx-effect: dropshadow(three-pass-box, rgb(50, 11, 143), 5, 0.2, 0, 2);
}
#revenue
{
    -fx-background-color: linear-gradient(to right,#6FA426,#8DC936);
    -fx-effect: dropshadow(three-pass-box, rgb(57, 100, 5), 5, 0.2, 0, 2);
}
#expend
{
    -fx-background-color: linear-gradient(to right,#EA0A51,#F7539F);
    -fx-effect: dropshadow(three-pass-box, rgb(115, 0, 0), 5, 0.2, 0, 2);
}